html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.max-height {
    max-height: 600px;
    margin-bottom: 25px;
}
.max-height-product {
    max-height: 148px;
    overflow: auto;
}
.max-heightCategory {
    max-height: 250px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
}
